body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-390px;
  width:420px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:390px;
  top:443px;
}
#u0_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:420px;
  height:93px;
  background-image:none;
}
#u0_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:93px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:0px 0px 5px 0px rgba(69, 134, 255, 0.498039215686275) inset;
  -webkit-box-shadow:0px 0px 5px 0px rgba(69, 134, 255, 0.498039215686275) inset;
  box-shadow:0px 0px 5px 0px rgba(69, 134, 255, 0.498039215686275) inset;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:93px;
}
#u1_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u0_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:420px;
  height:93px;
  visibility:hidden;
  background-image:none;
}
#u0_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:93px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:0px 0px 5px 0px rgba(255, 77, 41, 0.737254901960784) inset;
  -webkit-box-shadow:0px 0px 5px 0px rgba(255, 77, 41, 0.737254901960784) inset;
  box-shadow:0px 0px 5px 0px rgba(255, 77, 41, 0.737254901960784) inset;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:93px;
}
#u2_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:443px;
  width:420px;
  height:93px;
}
#u3_input {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:93px;
  background-color:transparent;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:32px;
  text-decoration:none;
  color:#333333;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u4_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:99px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:246px;
  width:80px;
  height:99px;
}
#u4_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
